<div class="flightlist-header">
    <div class="header-component">
      <header class="light_header home-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <div class="brand-logo">
                    <a class="navbar-brand" href="#">
                      <img src="../../assets/img/triplogo.png" />
                    </a>
                  </div>
  
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                  >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                          >Home</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Insurance</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <button class="btn custom-btn location-btn">
                        <span><i class="fa-solid fa-globe"></i></span> English
                      </button>
                      <button class="btn custom-btn login-btn">
                        Login/Signup
                      </button>
                    </form>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
  
    <div class="search-filter-top-section">
      <div class="container">
        <div class="container flight-form-sec">
          <div class="row Booking-category-tab">
            <div class="col-md-12">
              <div class="booking-category-tabs-right">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >One way</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >Round Trip</label
                  >
                </div>
              </div>
            </div>
          </div>
  
          <div class="row search-body-input tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <div class="search-section">
                <form>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="row m-0 depert-arriv-search">
                        <div class="col-md-6 p-0">
                          <div class="search-form-field Depart-search dest-field">
                            <label>From</label>
  
                            <div class="box">
                              <select
                                class="selectpicker des"
                                data-show-subtext="false"
                                data-live-search="true"
                                style="-webkit-appearance: none"
                              >
                                <option value="ALVA">Aluva</option>
                                <option value="PNCU">Pulinchudu</option>
                                <option value="CPPY">CompanyPady</option>
                                <option value="ATTK">Ambattukavu</option>
                                <option value="MUTT">Muttom</option>
                                <option value="KLMT">Kalamassery</option>
                                <option value="CCUV">Cusat</option>
                                <option value="PDPM">Pathadipalam</option>
                                <option value="EDAP">Edapally Jn.</option>
                                <option value="CGPP">Changampuzha Park</option>
                                <option value="PARV">Palarivattom</option>
                                <option value="JLSD">JLN Stadium</option>
                                <option value="KALR">Kaloor</option>
                                <option value="LSSE">Lissie Jn</option>
                                <option value="MGRD">MG Road</option>
                                <option value="MACE">Maharaja College</option>
                                <option value="">undefined</option>
                              </select>
                            </div>
                            <label>Soekarno-Hatta Airport</label>
                          </div>
                        </div>
                        <div class="col-md-6 p-0">
                          <div class="search-form-field Arrive-search dest-field">
                            <label>To</label>
  
                            <div class="box">
                              <select
                                class="selectpicker des"
                                data-show-subtext="false"
                                data-live-search="true"
                                style="-webkit-appearance: none"
                              >
                                <option value="ALVA">Aluva</option>
                                <option value="PNCU">Pulinchudu</option>
                                <option value="CPPY">CompanyPady</option>
                                <option value="ATTK">Ambattukavu</option>
                                <option value="MUTT">Muttom</option>
                                <option value="KLMT">Kalamassery</option>
                                <option value="CCUV">Cusat</option>
                                <option value="PDPM">Pathadipalam</option>
                                <option value="EDAP">Edapally Jn.</option>
                                <option value="CGPP">Changampuzha Park</option>
                                <option value="PARV">Palarivattom</option>
                                <option value="JLSD">JLN Stadium</option>
                                <option value="KALR">Kaloor</option>
                                <option value="LSSE">Lissie Jn</option>
                                <option value="MGRD">MG Road</option>
                                <option value="MACE">Maharaja College</option>
                                <option value="">undefined</option>
                              </select>
                            </div>
                            <label>Soekarno-Hatta Airport</label>
                          </div>
                        </div>
                        <div class="location-switch">
                          <i class="bi bi-arrow-left-right"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="row m-0 depert-arriv-search">
                        <div class="col-md-6 p-0">
                          <div class="search-form-field Depart-search">
                            <label>Departure Date</label>
  
                            <div class="box">
                              <select
                                class="selectpicker des"
                                data-show-subtext="false"
                                data-live-search="true"
                                style="-webkit-appearance: none"
                              >
                                <option value="ALVA">4 October 2023</option>
                              </select>
                            </div>
                            <label>Sunday</label>
                          </div>
                        </div>
                        <div class="col-md-6 p-0">
                          <div class="search-form-field Arrive-search">
                            <label>Reture Date</label>
  
                            <div class="box">
                              <select
                                class="selectpicker des"
                                data-show-subtext="false"
                                data-live-search="true"
                                style="-webkit-appearance: none"
                              >
                                <option value="ALVA">Select Date</option>
                              </select>
                            </div>
                            <label>Sunday</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="search-form-field passesnger-input">
                        <label>Passager, Class</label>
  
                        <div class="box">
                          <select
                            class="selectpicker des"
                            data-show-subtext="false"
                            data-live-search="true"
                            style="-webkit-appearance: none"
                          >
                            <option value="ALVA">1 Guest</option>
                          </select>
                        </div>
                        <label>Economy</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
  
          <div class="Search-button-section text-center">
            <button routerLink="/flightlist" class="btn custom-btn search-btn">
              Update Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="flightlist-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="flightlist-filter">
            <div class="filter-header">
              <h4>Filter</h4>
            </div>
            <div class="filter-options">Content here</div>
          </div>
        </div>
  
        <div class="col-md-9">
          <div class="flightlist-data">List here</div>
        </div>
      </div>
    </div>
  </div>
  